
.fundo{
	background-color:#6495ED;
	font-family: 'Montserrat', sans-serif;
}
.container{

}
.formulario-title {
	
	color: white;
	margin: 150px 400px 0 400px;
	text-align: center;
}
.form-group{
	text-align: left;
	color: black;
}
.btn-primary{
	margin: 0 0 20px 0;

}
.cpcolor{
	color: black;
}